!
<h1> It's my About me page </h1>

<p>
<%= @aboutme %>
</p>

<%# <p>
    2 + 2 = <%= @answer%>  <--------|
</p>                                |
                                    |
<%# Do Anything hardcore coding here by and recall it somewhere | %>